/* inicial.css */
body{
    produtos{
        font-family: 'BankGothic Md BT', sans-serif;
    }
    usuario{
        font-family: 'BankGothic Md BT', sans-serif;
    }
    aparelho{
        font-family: 'BankGothic Md BT', sans-serif;
    }
    prioridade_energia{
        font-family: 'BankGothic Md BT', sans-serif;
    }
}